<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


<% @events.each.with_index do |event, index| %>
<%= index + 1 %> <%= event.title %> créé par <%= event.administrator.first_name %> <%= event.administrator.last_name %>. <%= link_to "Voir l'évènement", event_path(event) %></br>
<% end %>


<p> Créer un évènement : </p>
<%= link_to "Nouvel évènement", new_event_path %>