<center>
  </br>
  <div class="card-body card-border" style="width: 35rem;">
  
    <p> <span style="color: blue;">Il s'agit de l'évènement n° </span><%= params['id'] %> </p>

    <p> <span style="color: blue;">Titre : </span><%= @event.title %></p>

    <p> <span style="color: blue;">Description : </span><%= @event.description %></p>

    <p> <span style="color: blue;">Nombre d'inscrit : </span><%= @event.attendees.count %></p>

    <p> <span style="color: blue;">Créateur de l'évènement : </span><%= @event.administrator.email %></p>

    <p> <span style="color: blue;">Date de début de l'évènement : </span><%= @event.start_date %></p>

    <p> <span style="color: blue;">Date de fin de l'évènement : </span><%= @event.end_date %></p>

    <p> <span style="color: blue;">Lieu de l'évènement : </span><%= @event.location %></p>

    <p> <span style="color: blue;">Prix : </span><%= @event.price %> euros</p> 

    <%= button_to "S'inscrire", root_path, class:"btn btn-primary m-2", method: :get %>

  </div>
</center>