<center>
  </br>
  <div class="card-body card-border" style="width: 35rem;">
  
    <p> <span style="color: blue;">Il s'agit de l'évènement n° </span><%= params['id'] %> </p>

    <p> <span style="color: blue;">Titre : </span><%= @event.title %></p>

    <p> <span style="color: blue;">Description : </span><%= @event.description %></p>

    <p> <span style="color: blue;">Nombre d'inscrit : </span><%= @event.attendees.count %></p>

    <p> <span style="color: blue;">Créateur de l'évènement : </span><%= @event.administrator.email %></p>

    <p> <span style="color: blue;">Date de début de l'évènement : </span><%= @event.start_date %></p>

    <p> <span style="color: blue;">Date de fin de l'évènement : </span><%= @event.end_date %></p>

    <p> <span style="color: blue;">Lieu de l'évènement : </span><%= @event.location %></p>

    <p> <span style="color: blue;">Prix : </span><%= @event.price %> euros</p> 

    <% if current_user == nil %>
    <p class= "text-danger"> Connecte-toi pour me donner de l'argent !</p>

    <% elsif current_user && current_user.id == @event.administrator.id %>
    <p class= "text-primary"> Vous êtes le créateur de l'évènement !</p>

    <% elsif current_user && current_user != @event.administrator_id && @registered == false %>
    <%= button_to "S'inscrire à l'évènement", checkout_create_path(total: @event.price), class: "btn btn-primary m-3", data: {turbo: false} %>

    <% elsif current_user && current_user != @event.administrator_id && @registered == true %>
    <p class= "text-danger"> Connecte-toi pour me donner de l'argent !</p>

    <% else %>
    <p class= "text-primary"> Vous êtes déjà inscrit à l'évènement !</p>

    <% end %>

  </div>
</center>